<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Kategori</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">

            <input type="hidden" class="form-control" id="idKategori"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">Name Kategori</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" id="nameKategoriEdit" placeholder="Name Kategori"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Satuan</label>

                <div class="col-sm-8">
                    <select class="form-control select2" id="satuanEdit" style="width: 100%;">
                        <option value="">Please Selected</option>
                        <option value="Puyer">Puyer</option>
                        <option value="Tablet">Tablet</option>
                        <option value="Sirup">Sirup</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnEditCategory">Save changes</button>
    </div>
</div>
