<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:fragment="sidebar"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/dist/img/avatar3.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <b sec:authentication="principal.firstName">firstName</b> <b sec:authentication="principal.lastName">lastName</b>
                    <br/>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">APOTIK MENU</li>
                <li><a th:href="@{'/dashboard'}"><i class="fa fa-dashboard"></i> <span>Home</span></a></li>

                <li th:if="${#request.isUserInRole('ROLE_ADMIN')}" class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>Master</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{'/user'}"><i class="fa fa-circle-o"></i> User</a></li>
                        <li><a th:href="@{'/kategori'}"><i class="fa fa-circle-o"></i> Kategori</a></li>
                        <li><a th:href="@{'/obat'}"><i class="fa fa-circle-o"></i> Barang</a></li>
                        <li><a th:href="@{'/supplier'}"><i class="fa fa-circle-o"></i> Supplier</a></li>
                        <li><a th:href="@{'/rak'}"><i class="fa fa-circle-o"></i> Lokasi</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i>
                        <span>Transaksi</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                            <li th:if="${#request.isUserInRole('ROLE_ADMIN')}"><a th:href="@{'/requestbarang'}"><i class="fa fa-circle-o"></i>Request Barang</a></li>
                            <li th:if="${#request.isUserInRole('ROLE_ADMIN')}"><a th:href="@{'/barangkeluarlist'}"><i class="fa fa-circle-o"></i>Barang Masuk</a></li>
                            <li th:if="${#request.isUserInRole('ROLE_KASIR')}"><a th:href="@{'/barangkeluar'}"><i class="fa fa-circle-o"></i> Barang Keluar</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i>
                        <span>Laporan</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{'/stockobat'}"><i class="fa fa-circle-o"></i>Laporan Stock Barang</a></li>
                        <li th:if="${#request.isUserInRole('ROLE_ADMIN')}"><a th:href="@{'/laporanbarangmasuklist'}"><i class="fa fa-circle-o"></i>Laporan Barang Masuk</a></li>
                        <li th:if="${#request.isUserInRole('ROLE_ADMIN')}"><a th:href="@{'/laporanbarangkeluarlist'}"><i class="fa fa-circle-o"></i>Laporan Barang Keluar</a></li>
                    </ul>
                </li>


            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

</div>